.adminLoginForm__paper{
    width: 300px;
    height: 340px;
    margin: 100px auto; 
    
}
.header{
    text-align: center;
    height: 50px;
    
}
.AdminTextfield .MuiTextField-root {
    
    
    margin-top: 20px;
    width: 250px;
    margin-left: 25px;
    
}
.checkbox{
    
    margin-top: 15px;
    margin-left: 13px !important;
}
.adminLoginButton{
    margin-top: 15px !important;
    width: 250px;
    margin-left: 25px !important;
}