.keynoteForm__paper{
    margin: auto;
    width: 600px !important;
      height: 520px !important;
      align-items: center !important;
    
  }
  .header{
    text-align: center;
    height: 80px !important;
    color: #3571f1;
    padding-top: 20px;
    font-size: 30px !important;
    
  }
  .textfield .MuiTextField-root {
    
    
    margin-top: 20px;
    width: 550px !important;
    margin-left: 26px !important;
    
  }
  
  .updatekeynotebutton{
    margin-top: 5px !important;
    width: 550px !important;
    height: 45px;
    margin-right: 26px !important;
   
  }
  .updatekeynoteuploadButton{
    margin-top: 20px;
    margin-left: 26px;
    width: 400px !important;
    height: 50px;
  }
  .uploadtextarea{
    width: 550px !important;
    margin-top: 30px;
    margin-left: 26px;
    height: 100px !important;
    
  }