
.addKeynoteForm__paper{
  margin: auto;
  width: 600px !important;
    height: 530px !important;
    align-items: center !important;
  
}
.addKeynoteHeader{
  text-align: center;
  height: 80px !important;
  color: #3571f1;
  padding-top: 20px;
  font-size: 30px !important;
  
}
.addKeynotetextfield .MuiTextField-root {
  
  
  margin-top: 20px;
  width: 550px !important;
  margin-left: 26px !important;
  
}

.button{
  margin-top: 5px !important;
  width: 550px !important;
  height: 45px;
  margin-left: 26px !important;
 
}
.uploadButton{
  margin-top: 20px;
  margin-left: 26px;
  width: 400px !important;
  height: 50px;
}
.textarea{
  width: 550px !important;
  margin-top: 20px;
  margin-left: 26px;
  height: 100px !important;
  
}